*~
*.swp
*.swo
values-secret*
.*.expected.yaml
pattern-vault.init
vault.init
super-linter.log
common/pattern-vault.init

charts/all/trustee-operator/files/*
!charts/all/trustee-operator/files/.gitkeep
